body {
	background-color: rgb(230, 230, 230);
}

.purchase-manager-container {
    margin: 15px;
    height: 600px;
    z-index: 1;
    position:relative;
}

.days-container {
    background-color: rgb(233, 238, 242);
    border: 1px solid rgb(186, 190, 193);
    height: 100%;
}

.days-container label {
    padding: 10px;
    font-size: 16px;
    color: rgb(59, 69, 71);
    margin: 10px;
}

.list {
    border: 1px solid rgb(186, 190, 193);
    padding: 0;
    font-size: 1em;
    background-color: rgb(242, 242, 242);
}

.add-purchase {
    padding: 5px 30px;
}

li {
    list-style: none;
    padding: 5px;
    border-bottom:1px solid #C4C4C4;
    cursor: pointer;
    color: rgb(47, 93, 119);
}

li:hover{
    background: #E0E0E0 ;
}

li:last-child {
    border:none;
}

.navbar-purchase {
    padding: 10px 20px 5px 20px;
    color: rgb(61, 66, 69);
    font-size: 20px;
    background: rgb(210, 210, 210);
    background: linear-gradient(1deg, rgb(210, 210, 210) 0%, rgb(242, 242, 242) 100%);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.29);

}

.purchase-container {
    background-color: white;
    border: 1px solid rgb(186, 190, 193);
    height: 100%;
    margin: 0;
    padding: 0;
}

.day-info {
    background-color: rgb(246, 246, 246);
    padding: 10px;
    border-bottom: 1px solid rgb(186, 190, 193);
}

.day-info label {
    padding: 10px;
    font-size: 16px;
    color: rgb(59, 69, 71);
    margin: 0;
}

.table-container {
    padding: 15px;
}

.purchases-list {
    border: 1px solid rgb(186, 190, 193);
}


.popup-front {
    position: fixed;
    height: 400px;
    width: 600px;
    left: 1%;
    right: 1%;
    margin: auto;
    top: 20%;
    z-index: 9999;
    border: solid 10px rgba(0,0,0, 0.8);
    border-radius: 5px;
    padding: 0;
    background-color: #FFF;
}

.popup .title h1 {
    font-family: Sans-serif;
    font-size: 22px;
    margin: 5px 10px;
}

.popup .title h3 {
    font-family: Sans-serif;
    font-size: 12px;
    margin: 5px 10px;
}

.popup {
    top:0;
    left:0;
    z-index: 1000;
    position: absolute;
    height: 1000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup .content {
    margin: 10px 0;
    background-color: white;
    height: 140px;
    font-family: Sans-serif;
    color: rgb(61, 66, 69);
}

.popup-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background: url("../img/close_button.png");
}

.description {
    font-family: Sans-serif;
    color: rgb(61, 66, 69);
    margin-top: 10px;
}

.details-header {
    padding: 10px 20px 5px 20px;
    color: rgb(61, 66, 69);
    font-size: 20px;
    background: rgb(210, 210, 210);
    background: linear-gradient(1deg, rgb(210, 210, 210) 0%, rgb(242, 242, 242) 100%);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.29);
}

.popup .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgb(210, 210, 210);
    background: rgb(240, 240, 240);
    padding: 20px;
    width: 100%;
    height: 70px;
}

.description textarea{
    margin-top: 10px;
    height: 100px;

}

.footer button {
    margin: 0 5px;
    width: 80px;
}

.warning {
    display: none;
    color: red;
    font-size: 12px;
    padding-left: 20px;
}

.delete-btn {
    height: 16px;
    width: 15px;
    background: url("../img/close-button.gif");
    border: none;
}
