<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Manager</title>
        <meta charset="utf-8">
     
        <script src = "lib/jquery.js"></script>
        <script src = "lib/underscore-min.js"></script>
        <script src = "lib/backbone-min.js"></script>
        <script src = "lib/backbone-mediator.js"></script>
        <script>window.mediatore = _.extend({}, Backbone.Events);</script>
        <script type = "text/javascript" src="lib/Backbone.ModelBinder/Backbone.ModelBinder.js"></script>
        <script type = "text/javascript" src="lib/Backbone.ModelBinder/Backbone.CollectionBinder.js"></script>
        <script type = "text/javascript" src = "bower_components/backbone.validation/dist/backbone-validation.js"> </script>


		<script type = "text/template" id = "day-info-template">
			<label><%= day %> Purchases </label>
			<button class = "btn btn-primary" id = "popup-open">Add Purchase</button>
		</script>

        <script type = "text/template" id = "day-template">
            <span data-name="day"> <%= day %> </span>
        </script>

        <script type = "text/template" id = "purchase-raw-template">
            <td data-name="purchaseName"></td><td data-name="storeName"></td><td data-name="description"></td><td data-name="price"></td><td><button class = "delete">Delete</button></td>
        </script>

        <script type = text/template  id = "purchase-manager-template">
            <div class = "col-md-12 navbar-purchase">Purchases</div>
            <div class = "days-container col-md-3">

                <label class = "">Purchases by day</label>
                <ul id = "list" class = "list">

                </ul>

            </div>
            <div class = "col-md-9 purchase-container">
                <div id = "flex">
                    <div class = "day-info"><label>Purchase Manager</label>
                        <button type = "button" class = "btn btn-primary pull-right add-purchase" id = "popup">Add Purchase</button>
                    </div>

                    <div class = "table-container col-md-12">
                        <table class = "table table-striped purchases-list">
                            <thead>
                            <th class = "col-md-2">Purchase Name</th>
                            <th class = "col-md-2">Store Name</th>
                            <th class = "col-md-2">Description</th>
                            <th class = "col-md-2">Price</th>
                            <th class = "col-md-2"></th>
                            </thead>
                            <tbody class = "purchase-list">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </script>


        <script id="popup-template" type="text/template">
            <div class="title details-header">
                <h1> Add Purchase </h1>
            </div>

            <div class="popup-close"></div>

            <div class = "content" >
                <div class = "col-md-4">
                    <label>Purchase name</label>
                    <input class = "form-control" placeholder = "Enter purchase name" id = "purchaseName" data-name = "purchaseName" />
                </div>

                <div class = "col-md-4">
                    <label>Store name</label>
                    <input class = "form-control" placeholder = "Enter store name" id = "storeName" data-name = "storeName" />
                </div>

                <div class = "col-md-4">
                    <label>Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class = "form-control" placeholder = "0.00" id = "price" data-name = "price" />
                    </div>
                </div>

                <div class = "col-md-12 description">Description
                    <textarea class = "col-md-12" placeholder = "Enter purchase description" id = "description" data-name = "description" ></textarea>
                </div>
            </div>
            <div class = "footer details-footer col-md-12">
                <button class = "btn btn-primary" id = "add-popup">Add</button>
                <button class = "btn btn-primary" id = "save-popup">Save</button>
                <button class = "btn btn-default" id = "cancel-popup">Cancel</button>
            </div>
        </script>
		
        <script type="text/template" id = "raw_template">
            <td class = "line" data-name = "purchaseName"> </td>
            <td class = "line" data-name = "storeName"> </td>
            <td class = "line" data-name = "description"> </td>
			<td class = "line" data-name = "price"></td>
            <button class = "delete">delete</button>
        </script>

		<script src = "Resource/1.js"></script>
        <script src = "js/main.js"></script>
        <script src = "js/models/Day.js"></script>
        <script src = "js/collections/DaysCollection.js"></script>
        <script src = "js/views/DaysCollectionView.js"></script>
		<script src = "js/models/DayInfo.js"></script>
        <script src = "js/views/PopupView.js"></script>
		<script src = "js/models/PurchaseModel.js"></script>
		<script src = "js/collections/PurchasesCollection.js"></script>
		<script src = "js/views/PurchasesCollectionView.js"></script>
		<script src = "js/views/PurchaseView.js"></script>
		<script src = "js/views/PurchaseManagerView.js"></script>
        <script src = "js/views/DayView.js"></script>


		<link href = "lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
	    <div class = "purchase-manager-container" id = "purchase-manager">

		</div>
    </body> 
</html>