body {
	background-color: rgb(230, 230, 230);
}

.purchase-manager {
    margin: 15px;
    height: 600px;
}

.days-container {
    background-color: rgb(233, 238, 242);
    border: 1px solid rgb(186, 190, 193);
    height: 100%;
}

.days-container label {
    padding: 10px;
    font-size: 16px;
    color: rgb(59, 69, 71);
    margin: 10px;

}

.list {
    border: 1px solid rgb(186, 190, 193);
    padding: 0;
    font-size: 1em;
    background-color: rgb(242, 242, 242);
}

.add-purchase {
    padding: 5px 30px;
}

li {
    list-style: none;
    padding: 5px;
    border-bottom:1px solid #C4C4C4;
    cursor: pointer;
    color: rgb(47, 93, 119);
}

li:hover{
    background: #E0E0E0 ;
}

li:last-child {
    border:none;
}


.navbar-purchase {
    padding: 10px 20px 5px 20px;
    color: rgb(61, 66, 69);
    font-size: 20px;
    background: rgb(210, 210, 210);
    background: linear-gradient(1deg, rgb(210, 210, 210) 0%, rgb(242, 242, 242) 100%);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.29);

}

.purchase-container {
    background-color: white;
    border: 1px solid rgb(186, 190, 193);
    height: 100%;
    margin: 0;
    padding: 0;
}

.day-info {
    background-color: rgb(246, 246, 246);
    padding: 10px;
    border-bottom: 1px solid rgb(186, 190, 193);
}

.day-info label {
    padding: 10px;
    font-size: 16px;
    color: rgb(59, 69, 71);
    margin: 0;
}

.table-container {
    padding: 15px;
}

.purchases-list {
    border: 1px solid rgb(186, 190, 193);
}


.popup {
    position: fixed;
    height: 300px;
    width: 600px;
    left: 1%;
    right: 1%;
    margin: auto;
    top: 20%;
    z-index: 9999;
}

.popup {
    border: solid 10px rgba(0,0,0, 0.5);
    border-radius: 5px;
    background-color: #C4C4C4;
    padding: 0;
}

.popup-active {
    background-color: #FFF;
}

.popup .title h1 {
    font-family: Sans-serif;
    font-size: 22px;
    margin: 5px 10px;
}

.popup .title h3 {
    font-family: Sans-serif;
    font-size: 12px;
    margin: 5px 10px;
}

.popup .content {
    margin: 5px 0;
    background-color: white;
    height: 140px;
}

.popup-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background: url("img/close_button.png");
}

.description {
    margin-top: 20px;
}

/*.table {*/
	/*color: #555658;*/
	/*background-color: #FFFFFF;*/
	/*border-radius: 6px;*/
	/*box-shadow: 0px 0px 4px #C4C4C4;*/
	/*font-family: 'Roboto', sans-serif;*/
	/*text-align: left;*/
/*}*/

/*.head {*/
	/*padding: 10px;*/
	/*border-top-left-radius: 6px;*/
	/*border-top-right-radius: 6px;*/
	/*color: white;*/
	/*background-color: #4A93FF;*/
	/*font-family: 'Arvo', serif;*/
	/*text-align: left;*/
	/*font-size: 1.5em;*/
/*}*/


/*.line {*/
	/*padding: 5px 10px;	*/
/*}*/

/*button {*/
	/*display: inline-block;*/
	/*margin: 7px;*/
	/*padding: 5px 10px;*/
	/*color: white;*/
	/*background-color: #4A93FF;*/
	/*border: none;	*/
	/*font-size: 1em;*/
	/*border-radius: 3px;*/
/*}*/

/*input {*/
	/*padding: 3px;*/
	/*float:right;*/
	/*width:160px;*/
	/*border:1px solid #C4C4C4;*/
	/*border-radius: 3px;*/

/*}*/

/*input:focus*/
/*{*/
   	/*box-shadow: 0 0 5px #66E0FF;*/
   	/*background: white;*/
/*}*/
