
    <div class = "col-md-12 navbar-purchase"> Purchases </div>
    <div class = "days-container col-md-3">
        <label class = "days-info">Purchases by day</label>
        <ul id = "list" class = "list">
        </ul>
    </div>
    <div class = "col-md-9 purchase-container">
        <div id = "purchases">
            <div class = "day-info">
                <label id = "day-label">

                </label>
                <label>Purchases
                </label>
                <button type = "button" class = "btn btn-primary pull-right add-purchase" id = "popup">Add Purchase</button>
            </div>

            <div class = "table-container col-md-12">
                <table class = "table table-striped purchases-list">
                    <thead>
                    <th class = "col-md-2">Purchase Name</th>
                    <th class = "col-md-2">Store Name</th>
                    <th class = "col-md-2">Description</th>
                    <th class = "col-md-2">Price</th>
                    <th class = "col-md-2"></th>
                    </thead>
                    <tbody class = "purchase-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

